@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

* {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #F0F0F0;
}

.home-container {
  width: 100%;
  min-height: 100vh;
  padding-top: 5rem; 
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem 1.25rem; 
  background: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); 
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo {
  height: 2.5rem; 
}

.content {
  max-width: 75rem; 
  margin: 0 auto;
  padding: 1.25rem; 
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.625rem; 
}

.header-content h1 {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 1.25rem; 
  line-height: 100%;
  letter-spacing: 0%;
  color: #1C1C1C;
  margin: 0;
  padding: 0;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  border: 0.0625rem solid #DFDFDF;
  border-radius: 0.5rem;
  padding: 0.5rem; 
  width: 100%;
  max-width: 18.75rem; 
}

.search-icon {
  width: 1.5rem; 
  height: 1.5rem; 
  margin-left: 0.5rem; 
}

.search-input {
  flex: 1 1;
  border: none;
  outline: none;
  color: #9E9E9E;
  font-weight: 400;
  font-size: 1rem; 
  background-color: #FFFFFF;
}

.search-input::placeholder {
  color: #999;
}

@media (max-width: 64rem) { 
  .content {
    padding: 0.9375rem; 
  }

  .header {
    padding: 0.9375rem; 
  }
}

@media (max-width: 48rem) { 
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 0.9375rem; 
  }

  .header-content {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 100%;
  }

  .search-container {
    width: 90%;
    margin-top: 0.625rem; 
  }

  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  th, td {
    padding: 0.625rem; 
    font-size: 0.875rem; 
  }
}

@media (max-width: 30rem) { 
  th, td {
    padding: 0.5rem; 
    font-size: 0.75rem; 
  }

  .employee-image {
    width: 1.875rem; 
    height: 1.875rem; 
  }

  .search-container {
    width: 100%;
  }
}